RewriteEngine On


RewriteCond %{REQUEST_URI} ^/seo/(.*)$
RewriteCond %{REQUEST_URI} !^/seo/data/sitemap.txt$
RewriteCond %{ENV:REDIRECT_STATUS} ^$
RewriteRule ^ - [R=404,L]

RewriteCond %{QUERY_STRING} ^(.*)_escaped_fragment_=(.*)$
RewriteRule ^$ seo/extractor.php?place=%2 [L]


Redirect permanent /Welcome.html				http://pwt.putnami.org#!Welcome

Redirect permanent /GettingStarted.html			http://pwt.putnami.org#!GettingStarted

Redirect permanent /Bootstrap.html				http://pwt.putnami.org#!Bootstrap
Redirect permanent /Layouts.html				http://pwt.putnami.org#!Layouts
Redirect permanent /Components.html				http://pwt.putnami.org#!Components
Redirect permanent /Forms.html					http://pwt.putnami.org#!Components
Redirect permanent /More.html					http://pwt.putnami.org#!Components
Redirect permanent /Table.html					http://pwt.putnami.org#!Components

Redirect permanent /DataBinding.html			http://pwt.putnami.org#!DataBinding
Redirect permanent /Internationalization.html	http://pwt.putnami.org#!Internationalization
Redirect permanent /Navigation.html				http://pwt.putnami.org#!Navigation
Redirect permanent /ServerCalls.html			http://pwt.putnami.org#!ServerCalls
Redirect permanent /Errors.html					http://pwt.putnami.org#!Errors

Redirect permanent /CodeEditor.html				http://pwt.putnami.org#!CodeEditor
Redirect permanent /AjaxBotIndexing.html		http://pwt.putnami.org#!AjaxBotIndexing
Redirect permanent /GoogleAnalytics.html		http://pwt.putnami.org#!GoogleAnalytics

Redirect permanent /Samples.html				http://pwt.putnami.org#!Samples
Redirect permanent /ContactsTable.html			http://pwt.putnami.org#!ContactsTable
Redirect permanent /AddressBook.html			http://pwt.putnami.org#!AddressBook

Redirect permanent /ComingSoon.html				http://pwt.putnami.org#!ComingSoon

Redirect permanent /Download.html				http://pwt.putnami.org#!Download
