/**
 * This file is part of pwt.
 *
 * pwt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Lesser General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * pwt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Lesser General Public License for more details.
 *
 * You should have received a copy of the GNU Lesser General Public License
 * along with pwt.  If not, see <http://www.gnu.org/licenses/>.
 */
body{
	background-color: #2C2C2C;
	color: #666666;
}
h1 {
	color: #4db848;
	border-bottom: 3px solid #4db848;
	padding-bottom: 20px;
	margin-bottom: 60px;
}
h2, h3, h4, h5, h6{
	color: #89c786;
}
h2{
	margin-top: 40px;
}
h3{
	padding-left: 15px;
	margin-top: 30px;
}
h4{
	padding-left: 30px;
	margin-top: 20px;
}
h5{
	padding-left: 45px;
	margin-top: 20px;
}
h6{
	margin-top: 20px;
	padding-left: 50px;
}

a:focus,
button:focus,
textarea:focus, 
input[type="text"]:focus,
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
input[type="checkbox"]:focus,
.uneditable-input:focus {   
	border-color: rgba(74,178,69, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(74,178,69, 0.6);
	outline: 0 none;
}

pre{
	word-wrap: break-word;
	-moz-tab-size:    3;
    -o-tab-size:      3;
    -webkit-tab-size: 3;
    -ms-tab-size:     3;
    tab-size:         3;
}

/**
* Bootstrap
*/
.alert{
	border-width: 0 0 0 6px;
	background-color: #ddd;
	border-radius: 0;
}
.btn:focus{
	border-color: rgba(74,178,69, 0.8);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(74,178,69, 0.6);
	outline: 0 none;
}

/**
* Header
*/
#pwt-header{
	color: #4db848;
}
#pwt-header .pwt-top-header{
	height: 65px;
	background-color: #2C2C2C;
}
#pwt-title{
	font-size: 36px;
	height: 65px;
	padding-top: 6px;
	padding-left: 32px;
}
#pwt-title img{
	vertical-align: baseline;
}
#pwt-title small{
	font-size: 0.8em;
	color: #ccc;
}
#pwt-header .pwt-menu-affix{
	border-top: 5px solid #4db848;
	height: 55px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #d5d5d5;
	box-shadow: 0 1px 5px rgba(0,0,0,.1);
	box-sizing: content-box;
}

#pwt-header .pwt-menu-affix .pwt-menu{
	border-bottom: 1px solid transparent;
	min-height: 50px;
	background-color: inherit;
	color: #4db848;
}

#pwt-header .dropdown-menu{
	background-color: #666;
}
#pwt-header .dropdown-menu a{
	color: #EEE;
}
#pwt-header .dropdown-menu .active a{
	color: #666;
	background-color: #4db848;
}

#pwt-header .dropdown-menu a:hover{
	color: #4db848;
	background-color: #444;
}

#pwt-header .navbar-brand{
	color: #9CA29B;
	font-size: 20px;
}

#pwt-header .nav > li > a {
	margin: 0;
	color: #4DB848;
	height: 54px;
	padding-top: 11px;
	font-size: 17px;
	padding-top: 17px;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
#pwt-header #pwt-header .nav > li:hover{
	box-shadow: inset 0 3px 5px rgba(0,0,0,.03);
}

#pwt-header .nav > .active > a, #pwt-header .nav > .active > a:hover{
	padding-left: 13px;
	color: #9CA29B;
	background-color: #e9e9e9;
	border-right-color: #ddd;
	border-left: 0;
	box-shadow: inset 0 3px 5px rgba(0,0,0,.05);
	cursor: default;
}

#pwt-header .pwt-top-header .container{
	position: relative;
}
#pwt-header .notifications{
	position: absolute;
	top: 10px;
	right: 10px;
	border-radius: 5px;	
	font-size: 0.5em;
	padding: 8px;
	cursor: pointer;
}
#pwt-header .notifications .notification-count{
	position: absolute;
	bottom: -10px;
	right: 2px;
	background: #ec7600;
	color: #000;
	font-size: 0.8em;
	border-radius: 10px;
	padding: 2px 5px;
}
.notificationPopup h4{
	margin-top: 0;
}
.notificationPopup .alert{
	background-color: #F6F6F6;
}

/**
* Footer
*/
#pwt-footer{
	color: #ccc;
	text-align: center;
	border-top: 5px solid #4db848;
	background-color: #2C2C2C;
	padding: 60px;
}

/**
* Table of content
*/
.nav-spy{
	padding: 60px 0 0 40px;
}
.nav-spy .nav>li>a {
	font-size: 1.3em;
}
.nav-spy .nav>li>a small{
	display: none;
}
.nav-spy .nav>li>a:hover,
.nav-spy .nav>li>a:focus {
	color: #89c786;
	border-left: 1px solid #89c786
}

.nav-spy .nav>.active>a,
.nav-spy .nav>.active:hover>a,
.nav-spy .nav>.active:focus>a {
	color: #4db848;
	border-left: 2px solid #4db848
}

.nav-spy .nav .nav>li>a {
	font-size: 1.1em;
}

.nav-spy .nav .nav .nav>li>a {
	padding-left: 40px
}

.nav-spy .nav .nav .nav .nav>li>a {
	padding-left: 50px
}

.nav-spy .nav .nav .nav .nav>li>a:hover,
.nav-spy .nav .nav .nav .nav>li>a:focus {
	padding-left: 49px
}

.nav-spy .nav .nav .nav>li>a:hover,
.nav-spy .nav .nav .nav>li>a:focus {
	padding-left: 39px
}

/**
* Content
*/

a {
	color: #4db848;
}

.btn-link {
	color: #4db848;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus {
	background-color: #e9e9e9;
	color: #9CA29B;
}

.showcase-section {
	background-color: #f2f2f2;
	padding-bottom: 50px;
	min-height: 300px;
}

.grid-sample [class^="p-grid-column"] {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #eee;
  border: 1px solid #ddd;
}

.showcase-sample > .btn-group + .btn-group {
	margin-left : 10px;
}

.showcase-sample > .nav + .nav {
	margin-top : 10px;
}

.showcase-sample-block {
	background-color: #f5f5f5;
	border: 1px solid #CCC;
	border-radius: 4px;
}

.showcase-sample-block .showcase-sample {
	padding:15px;
}

.showcase-sample-block .code-editor {
	border: 0;
	margin: 0;
	border-radius: 0;
	overflow-y: auto;
	border-top: 1px solid #ccc
}

.showcase-samplePanel {
	margin-top: 5px;
}

.showcase-tab-content {
	margin-top: 5px;
}

/**
* AddressBook
*/
.sample-contact-actions {
	background-color : white;
	border: 1px solid #ddd;
	border-radius : 4px;
	padding: 5px 15px;
}

/**
* Social
*/
.social-bar{
	margin:0 0 15px 25px;
}
.social-bar .btn{
	color: #d6e9c6;
	font-size: 3em;
	background-color: transparent;
	border: 0;
	padding: 1px;
}
.social-bar .btn:hover{
	color: #55b04a;
}

/**
* CodeEditor
*/
code {
	color: #EC7600;
	background-color: #ddd;
	border-radius: 3px;
}
kbd,
pre{
	background-color: #555;
	color: #ddd;
}
pre.code-editor {
	font-family: 'Monaco', courier, monospace;
	color: #000;
	background-color: #fff;
}

pre.code-editor div.code-editor-line {
	min-height: 1em;
}

/**
* Provided XML Syntax highlighting
*/
.code-editor-xml-comment {
	color: #F9A321;
}
.code-editor-xml-doctype {
	color: #ccc;
}
.code-editor-xml-tag {
	color: #4db848;
}
.code-editor-xml-attribute {
	color: #F9A321;
}
.code-editor-xml-attribute-value {
	color: #ddd;
}

/**
* Provided Java Syntax highlighting
*/
.code-editor-java-keyword {
	color: #4db848;
	font-weight:bold
}
.code-editor-java-string {
	color: #93C763;
}
.code-editor-java-single-line-comment {
	color: #999;
	font-style: italic;
}
.code-editor-java-multi-line-comment {
	color: #999;
}
.code-editor-java-doc {
	color: #d44950;
}
.code-editor-java-annotation {
	color: #f9cc21;
}

/**
* Media
*/
@media (max-width: 767px) {
	.teaser{
		font-weight: 300;
		font-size: 1.3em;
	}
	
	.teaser h1{
		font-size: 1.2em;
		
	}
	
	.teaser .forkMeOnGitHub{
		display: none;
	}

	.teaser .row{
		margin: 0 -15px 0 -15px; 
	}
}

@media (min-width: 768px) and  (max-width: 991px) {
        #pwt-header .nav > li > a{
                font-size: 0.9em !important;
                padding: 17px 9px;
        }
}

